@model IEnumerable<Expense_Tracker.Models.AccountTransfer>

@{
    ViewData["PageTitle"] = "Account Transfers";
    ViewData["PageActionText"] = "+ New Transfer";
    ViewData["PageActionUrl"] = "/Wallet/AddTransfer";
}

<div class="row">
    <div class="col-md-8">
        <ejs-grid id="wallet-transfers" dataSource="@Model" gridLines="None"
                  allowSorting="true" allowPaging="true">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-columns>
                <e-grid-column headerText="Date" field="Date" width="120" type="date" format="MMM-dd-yy"></e-grid-column>
                <e-grid-column headerText="From" field="FromWalletAccount.Name"></e-grid-column>
                <e-grid-column headerText="To" field="ToWalletAccount.Name"></e-grid-column>
                <e-grid-column headerText="Amount" field="FormattedAmount" textAlign="Right" width="120"></e-grid-column>
                <e-grid-column headerText="Note" field="Note" width="180"></e-grid-column>
                <e-grid-column headerText="Actions" template="#transferActionTemplate" width="90"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-4">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-right-left fa-2xl"></i>
        </div>
    </div>
</div>

<script id="transferActionTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/Wallet/AddTransfer/${AccountTransferId}">
            <i class="fa-solid fa-pen fa-lg"></i>
        </a>
        <form action="/Wallet/DeleteTransfer/${AccountTransferId}" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration"
                    onclick="return confirm(&quot;Are sure to delete this record?&quot;)">
                <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </button>
        </form>
    </div>
</script>
